---
import '@css/app.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style lang="postcss">
  @import "tailwindcss/theme" theme(reference);
  @import "@css/tailwind/theme.css" theme(reference);
	html,
	body {
        @apply
            m-4
            w-full
            h-full
            text-black;
	}
</style>
